<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce - Perfumes</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Bienvenido a la tienda de perfumes</h1>
    <div class="buttons">
        <button onclick="window.location.href='/products.html'">Acceso Usuario</button>
        <button onclick="window.location.href='/admin.html'">Acceso Administrador</button>
    </div>
</body>
</html>
